<%= form_for [@wiki] do |f| %>
  <% if current_user.role == 'admin' || current_user.role == 'premium' %>
      <div class="form-group">
        <%= f.label :private, class: 'checkbox' do %>
        <%= f.check_box :private %> Private wiki
      <% end %>

    <%= f.submit "Save", class: 'btn btn-success' %>
    <% else %>
    <%= f.submit "Save", class: 'btn btn-success' %>
  <% end %>
    </div>
<% end %>
